# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Data directory (ignore all contents)
data/
export_files/
tests/examples/output
tests/examples/ollama_summaries
logs/
/poetry.lock
